body {
  background: grey;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5px;
}

.header-title {}

.header-img {
  width: 128px;
}

.header-menu {
  margin-right: 60px;
}

.menu-inventario {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  display: flex;
  margin: 20px;
}

.show-modal {
  text-align: center;
  background-color: #c2401a;
  padding: 10px 10px;
  margin: 10px 10px;
  color: aliceblue;
  font-weight: 100;
  font-size: 18px;
  border-radius: 3.5px;
  text-decoration: none;
  transition: all 0.15s linear;
}

.show-modal:hover {
  cursor: pointer;
  background: #912823;
}

.table-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 20px 0px;
}

.inventario-table {
  border: 0.5px solid;
}

.table-content-container {
  overflow: scroll;
  height: 200px;
  width: 800px;
}

.inventario-table {
  width: 800px;
}

.inventario-table tr {
  display: flex;
  justify-content: space-around;
}

thead, tbody { display: block; }
tbody {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

